.advantages {
  margin-top: 38px;
}

.advantages__title {
  margin: 0;
  padding-left: 27px;
  padding-right: 31px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.advantages__text {
  margin: 0;
  margin-top: 27px;
  padding-left: 17px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 10px;
  }

  .advantages__item {
    min-height: 256px;

    &:nth-child(1) {
      margin-top: 52px;
    }
  }

  .advantages__title {
    padding-left: 87px;
    padding-right: 95px;
    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 12px;
  }

  .advantages__title {
    padding-left: 296px;
    padding-right: 298px;
  }

  .advantages__text {
    margin-top: 29px;
  }

  .advantages__item:nth-child(1) {
    margin-top: 50px;
  }
}
