.controls {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 22px;
  width: 280px;
  height: 66px;
  background-color: #eaeaea;
  z-index: 2;
}

.controls button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.controls__replay {
  margin-right: 133px;
}

.controls__subtitles {
  margin-right: 31px;
}

.controls__replay,
.controls__subtitles,
.controls__fullscreen {
  svg {
    fill: #5c6870;
  }

  &:hover svg {
    fill: #333333;
  }

  &:active svg {
    fill: rgba(51, 51, 51, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .controls {
    position: absolute;
    width: 650px;
    height: 93px;
    padding-left: 36px;
    padding-right: 41px;
    background-color: transparent;
  }

  .controls__replay {
    margin-right: 473px;
  }

  .controls__replay,
  .controls__subtitles,
  .controls__fullscreen {
    svg {
      fill: #ffffff;
    }

    &:hover svg {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active svg {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .controls {
    width: 800px;
  }

  .controls__replay {
    margin-right: 622px;
  }
}
