.excellences__title {
  margin: 0;
  padding: 0;
  padding-top: 77px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.excellences__text {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;

  &:nth-child(3) {
    padding-top: 15px;
    padding-left: 17px;
    padding-right: 19px;
  }
}

.excellences-box {
  order: 2;
  background-color: #81b3d2;

  .excellences__title,
  .excellences__text {
    color: #ffffff;
  }
}

.excellences-box--city {
  position: relative;
  margin-top: 5px;
  min-height: 230px;
}

.excellences-box--city::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 320px;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
}

.excellences-box--bridge {
  margin-top: 37px;
  min-height: 191px;

  .excellences__title {
    padding-top: 38px;
  }
}

.excellences__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.excellences__image {
  width: 100%;
  height: 260px;
}

@media (min-width: $tablet-width) {
  .excellences {
    &:nth-child(1) {
      display: flex;
    }

    &:nth-child(3) {
      display: flex;
    }

    &:nth-child(1) .excellences__image {
      order: 2;
    }
  }

  .excellences__image {
    height: 256px;
  }

  .excellences-box {
    margin-top: 0;
    min-height: 256px;
  }

  .excellences-box--city::before {
    display: none;
  }

  .excellences__title {
    padding-top: 45px;
    font-size: 21px;
  }

  .excellences__text {
    &:nth-child(3) {
      padding-top: 23px;
      padding-left: 23px;
      padding-bottom: 23px;
    }
  }

  .excellences-box--city {
    width: 361px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .excellences-box--bridge {
    width: 360px;
    padding-left: 23px;
    padding-right: 28px;

    .excellences__title {
      padding-top: 45px;
      padding-left: 31px;
      padding-right: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .excellences-box {
    width: 563px;
  }

  .excellences-box--city {
    padding-top: 6px;
    padding-left: 36px;
    padding-right: 42px;
  }

  .excellences__title {
    margin-right: 54px;
    margin-left: 58px;
  }
}
