.min-map {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 159px;
    left: 146px;
    width: 27px;
    height: 27px;
    background-image: url("../img/icon-map-marker.svg");
    z-index: 2;
  }

  iframe {
    position: absolute;
    border: none;
  }
}

.min-map__image {
  width: 320px;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .min-map {
    margin-top: 58px;

    &::before {
      top: 163px;
      left: 369px;
    }

    iframe {
      width: 768px;
    }
  }

  .min-map__image {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .min-map {
    margin-top: 66px;

    &::before {
      top: 162px;
      left: 586px;
    }

    iframe {
      width: 1200px;
    }
  }

  .min-map__image {
    width: 1200px;
  }
}
