.min-map {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.min-map__link {
  display: block;
}

.min-map__image {
  width: 320px;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .min-map__image {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .min-map__image {
    width: 1200px;
  }
}
