.modal-sent {
  position: absolute;
  top: 1600px;
  z-index: 2;
  display: none;
  padding-top: 25px;
  width: 320px;
  min-height: 323px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-sent__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.modal-sent__text {
  margin: 0;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.modal-sent__wrapper {
  display: block;
  padding-top: 21px;
  margin: 0;
  margin-top: 38px;
  min-height: 98px;
  background-color: #f2f2f2;
}

.modal-sent__button {
  display: block;
  width: 280px;
  min-height: 58px;
  padding: 0;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b2d3;
  border: none;
  outline: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }

  &[disabled] {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .modal-sent {
    top: 1000px;
    left: 127px;
    width: 640px;
    min-height: 347px;
  }

  .modal-sent__title {
    font-size: 30px;
    line-height: 26px;
  }

  .modal-sent__wrapper {
    margin-top: 63px;
    padding-top: 45px;
    min-height: 146px;
  }

  .modal-sent__button {
    width: 458px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .modal-sent {
    left: 313px;
  }

  .modal-sent__title {
    margin-top: 10px;
  }
}
