.modal-error {
  position: absolute;
  top: 1300px;
  z-index: 2;
  width: 320px;
  min-height: 280px;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-error__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.modal-error__text {
  margin: 0;
  margin-top: 40px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.modal-error__button {
  display: block;
  width: 180px;
  min-height: 58px;
  margin: 0 auto;
  margin-top: 29px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b2d3;
  border: none;
  outline: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }

  &[disabled] {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .modal-error {
    top: 1400px;
    left: 290px;
    width: 400px;
    min-height: 347px;
    padding-top: 50px;
  }

  .modal-error__title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-error__text {
    margin-top: 33px;
  }

  .modal-error__button {
    width: 272px;
    margin-top: 38px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .modal-error {
    left: 500px;
  }
}
