.name-form {
  width: 280px;
  margin: 0;
}

.name-form__legend {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.name-form__list {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  list-style: none;
}

.name-form__item {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.name-form__label {
  margin: 0;
  margin-right: 14px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.name-form__input {
  flex-grow: 1;
  width: 100px;
  padding-top: 16px;
  padding-left: 17px;
  padding-bottom: 16px;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  outline: none;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .name-form {
    order: 1;
    margin: 0;
    padding-left: 57px;
  }

  .name-form__legend {
    position: relative;
    font-size: 21px;
    text-align: start;
    margin-bottom: 58px;

    &::before {
      position: absolute;
      content: "";
      top: 4px;
      left: -58px;
      width: 1px;
      height: 292px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .name-form__item {
    width: 315px;
    margin-bottom: 20px;
  }

  .name-form__label {
    margin-right: 14px;
  }

  .name-form__input {
    flex-grow: 0;
    padding-left: 22px;
  }

  .name-form__input--name {
    width: 216px;
    padding-left: 18px;
  }

  .name-form__input--surname {
    width: 179px;
    padding-left: 19px;
  }

  .name-form__input--patronymic {
    width: 184px;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .name-form {
    width: 480px;
    padding-left: 80px;
  }

  .name-form__list {
    margin: 0;
  }

  .name-form__legend {
    text-align: left;

    &::before {
      top: 7px;
      left: -78px;
    }
  }

  .name-form__item {
    width: 400px;
  }

  .name-form__input--name {
    width: 349px;
  }

  .name-form__input--surname {
    width: 312px;
  }

  .name-form__input--patronymic {
    width: 317px;
  }
}
