.page-footer__wrapper {
  text-align: center;
}

.page-footer__hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}

.page-footer__copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
  }
}
