.page-main {
  width: 100%;
  font-family: $ptsans;
}

.page-main__image {
  min-height: 389px;
  padding-top: 90px;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
