.advantages {
  margin-top: 43px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.advantages__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
