.page-footer {
  width: 100%;
  text-align: center;
}

.page-footer__hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer__copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}
