.photos {
  margin-top: 37px;
}

.photos__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.photos__text {
  margin: 0;
  margin-top: 26px;
  margin-left: 25px;
  margin-right: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.photos__list {
  width: 280px;
  padding: 0;
  margin: 0 auto;
  margin-top: 50px;
  list-style: none;
}

.photos__item {
  position: relative;
  width: 280px;

  &::before {
    position: absolute;
    content: "";
    top: -22px;
    left: -16px;
    width: 320px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:last-child::after {
    position: absolute;
    content: "";
    bottom: -18px;
    left: -16px;
    width: 320px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.photos__item:not(:first-child) {
  margin-top: 39px;
}

@media (min-width: $tablet-width) {
  .photos {
    margin-top: 75px;
  }

  .photos__title {
    font-size: 30px;
  }

  .photos__text {
    margin-top: 30px;
    margin-left: 167px;
    margin-right: 170px;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin-top: 69px;
  }

  .photos__item {
    width: 324px;

    &::before,
    &:last-child::after {
      display: none;
    }
  }

  .photos__item:first-child {
    width: 648px;
    min-height: 480px;
  }

  .photos__item:not(:first-child) {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    margin-top: 112px;
  }

  .photos__list {
    width: 100%;
    margin: 0;
    margin-top: 73px;
  }

  .photos__text {
    margin-left: 382px;
    margin-right: 385px;
  }

  .photos__item {
    flex-grow: 1;
    width: 400px;
    background-color: #ffffff;
  }

  .photos__item:first-child {
    width: 1200px;
  }

  .photos__item:not(:first-child) {
    margin-top: -81px;
  }
}
