.picture__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
}

.picture__author-name {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  text-align: left;
}

.picture__totalizer {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
}
