.review-emotions {
  width: 280px;
  margin: 0 auto;
  margin-top: 60px;
}

.review-emotions__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.review-emotions__label {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.review-emotions__textarea {
  display: block;
  width: 280px;
  margin-top: 13px;
  padding: 0;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  border: none;

  &::placeholder {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  }
}

.review-emotions__box {
  margin: 0 auto;
  margin-top: 51px;
}

.review-emotions__button {
  display: block;
  width: 280px;
  min-height: 58px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b2d3;
  border: none;
  outline: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }

  &[disabled] {
    background-color: #e5e5e5;
  }
}

.review-emotions__annotation {
  display: none;
  font-size: 14px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .review-emotions {
    margin-top: 22px;
    order: 1;
  }

  .review-emotions__legend {
    position: relative;
    font-size: 21px;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: -200px;
      width: 126px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: -200px;
      width: 126px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .review-emotions__label {
    width: 648px;
  }

  .review-emotions__textarea {
    width: 648px;
    margin-top: 53px;
  }

  .review-emotions__box {
    display: flex;
    margin-top: 58px;
  }

  .review-emotions__button {
    width: 324px;
    margin: 0;
    padding-right: 12px;
  }

  .review-emotions__annotation {
    display: block;
    margin: 0;
    margin-top: 18px;
    margin-left: 165px;
  }
}

@media (min-width: $desktop-width) {
  .review-emotions {
    width: 960px;
  }

  .review-emotions__legend {
    margin: 0 auto;

    &::before {
      left: -353px;
      width: 280px;
    }

    &::after {
      right: -353px;
      width: 280px;
    }
  }

  .review-emotions__textarea {
    width: 960px;
  }

  .review-emotions__annotation {
    margin-top: 18px;
    margin-left: 321px;
    width: 161px;
  }

  .review-emotions__box {
    margin-top: 56px;
  }

  .review-emotions__button {
    width: 480px;
    padding-right: 0;
  }
}
