.review-checkbox {
  width: 280px;
  margin: 0 auto;
}

.review-checkbox__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.review-checkbox__legend {
  padding-bottom: 40px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.review-checkbox__item {
  width: 150px;
  padding-bottom: 65px;
}

.review-checkbox__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .review-checkbox {
    order: 1;
    width: 768px;
  }

  .review-checkbox__list {
    width: 440px;
    margin: 0 auto;
  }

  .review-checkbox__item {
    flex-grow: 1;
    padding-left: 55px;
  }

  .review-checkbox__legend {
    width: 280px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .review-checkbox__list {
    flex-wrap: nowrap;
    width: 960px;
  }
}
