.review-checkbox {
  width: 280px;
  margin: 0 auto;
  margin-top: 19px;
}

.review-checkbox__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 31px;
  padding: 0;
  list-style: none;
}

.review-checkbox__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.review-checkbox__item:not(:first-child) {
  margin-top: 54px;
}

.review-checkbox__label {
  position: relative;
  display: inline-block;
  padding-left: 79px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.review-checkbox__input {
  position: absolute;
  appearance: none;
}

.review-checkbox__icon {
  position: absolute;
  top: -15px;
  left: -1px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 5px;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }
}

.review-checkbox__input:checked + .review-checkbox__label > .review-checkbox__icon {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .review-checkbox {
    order: 1;
    width: 768px;
    margin-top: 30px;
  }

  .review-checkbox__list {
    width: 500px;
    margin: 0 auto;
    margin-top: 56px;
    padding-left: 22px;
  }

  .review-checkbox__item {
    flex-grow: 1;
  }

  .review-checkbox__item:not(:first-child) {
    margin-top: 0;
  }

  .review-checkbox__item:not(:last-child) {
    margin-bottom: 62px;
  }

  .review-checkbox__item--mountain {
    margin-left: 37px;
  }

  .review-checkbox__item--rocks {
    margin-left: 68px;
  }

  .review-checkbox__legend {
    position: relative;
    width: 280px;
    font-size: 21px;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: -185px;
      width: 126px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: -185px;
      width: 126px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

@media (min-width: $desktop-width) {
  .review-checkbox {
    width: 1000px;
  }

  .review-checkbox__list {
    width: 1000px;
    padding-left: 21px;
  }

  .review-checkbox__item {
    flex-grow: 0;
  }

  .review-checkbox__legend {
    margin: 0 auto;

    &::before {
      left: -339px;
      width: 280px;
    }

    &::after {
      right: -339px;
      width: 280px;
    }
  }

  .review-checkbox__item--bridge {
    margin-right: 70px;
  }

  .review-checkbox__item--mountain {
    margin-left: 0;
    margin-right: 71px;
  }

  .review-checkbox__item--park {
    margin-right: 67px;
    padding-left: 0;
  }

  .review-checkbox__item--rocks {
    margin-left: 0;
  }
}
