.review-radio {
  width: 280px;
  margin: 0 auto;
  margin-top: 35px;
}

.review-radio__legend {
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.review-radio__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.review-radio__item {
  margin-bottom: 43px;
}

.review-radio__label {
  position: relative;
  margin-bottom: 50px;
  padding-left: 79px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.review-radio__input {
  position: absolute;
  appearance: none;
}

.review-radio__icon {
  position: absolute;
  top: -15px;
  left: -1px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
}

.review-radio__input:checked + .review-radio__label > .review-radio__icon::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 13px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
  background-position: center;
}


@media (min-width: $tablet-width) {
  .review-radio {
    width: 50%;
    margin: 0;
    padding-left: 61px;
  }

  .review-radio__legend {
    font-size: 21px;
    margin-bottom: 73px;
  }

  .review-radio__label {
    padding-left: 75px;
  }

  .review-radio__item {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .review-radio {
    padding-left: 147px;
  }

  .review-radio__legend {
    padding-left: 120px;
  }

  .review-radio__item {
    padding-left: 60px;
  }
}
