.select-hotel {
  margin-top: 28px;
}

.select-hotel__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.select-hotel__text {
  margin: 0;
  padding-top: 19px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.select-hotel__link {
  display: block;
  width: 280px;
  min-height: 58px;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: 17px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b2d3;
}

@media (min-width: $tablet-width) {
  .select-hotel__title {
    font-size: 30px;
  }

  .select-hotel__link {
    width: 458px;
  }
}
