.social {
  margin-top: 50px;
  margin-left: 84px;
}

.social__list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__link {
  background-color: #81b3d2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    svg {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.social__link svg {
  fill: #ffffff;
}

.social__link--twitter {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 13px;
}

.social__link--facebook {
  padding-top: 17px;
  padding-bottom: 11px;
  padding-left: 21px;
  padding-right: 19px;
}

.social__link--youtube {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 14px;
  padding-right: 13px;
}

.social__item {
  margin-right: 5px;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
    margin-top: 4px;
    margin-left: 112px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-left: 269px;
  }
}
