.superiorities {
  position: relative;
  background-color: #eaeaea;

  &::before {
    position: absolute;
    content: "";
    top: 164px;
    left: 20px;
    width: 280px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 167px;
    left: 20px;
    width: 280px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.superiorities__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.superiorities__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.superiorities-item--place {
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 42px;
}

.superiorities-item--road {
  padding-top: 55px;
  padding-left: 40px;
  padding-right: 42px;
}

.superiorities-item--tourist {
  padding-top: 55px;
  padding-left: 31px;
  padding-right: 31px;

  p:nth-child(3) {
    padding-bottom: 27px;
  }
}

.superiorities-item {
  p:nth-child(2) {
    padding-top: 9px;
  }

  p:nth-child(3) {
    padding-top: 15px;
  }
}

@media (min-width: $tablet-width) {
  .superiorities {
    display: flex;
    min-height: 256px;

    &::before,
    &::after {
      display: none;
    }
  }

  .superiorities__title {
    font-size: 21px;
  }

  .superiorities-item--place {
    padding-top: 45px;
    padding-right: 39px;
  }

  .superiorities-item {
    width: 285px;
    min-height: 136px;
    margin: 0 auto;

    p:nth-child(2) {
      padding: 0;
      margin-top: 10px;
    }

    p:nth-child(3) {
      padding: 0;
      margin-top: 22px;
    }
  }

  .superiorities-item--road {
    padding-top: 45px;
    padding-left: 62px;
    padding-right: 62px;
  }

  .superiorities-item--tourist {
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 51px;
  }
}

@media (min-width: $desktop-width) {
  .superiorities-item {
    padding-left: 0;
    padding-right: 0;
  }

  .superiorities-item--place .superiorities__title {
    margin-left: 48px;
    margin-right: 50px;
  }

  .superiorities-item--road {
    .superiorities__title {
      margin-left: 59px;
      margin-right: 60px;
    }

    p:nth-child(3) {
      margin-top: 20px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .superiorities-item--tourist .superiorities__title {
    margin-left: 74px;
    margin-right: 74px;
  }
}
